<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head th:replace="element::bootstrap-top"></head>

<body ng-app="MiniApp">

<div class="container-fluid" ng-controller="clientCtrl">
    <div class="row">
        <div class="col-md">
            <span class="h3">Клиенты</span>
        </div>
    </div>
    <div class="mt-3 alert alert-info" ng-show="!clients.length">
        <span>Заказов не найдено!</span>
    </div>
    <div ng-show="clients.length">
        <div class="mt-3">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Имя клиента</th>
                    <th>Телефон</th>
                    <th>Адрес</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients">
                    <td ng-bind="client.id"></td>
                    <td ng-bind="client.name"></td>
                    <td ng-bind="client.phoneNumber"></td>
                    <td ng-bind="client.address"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="element::angular-js"></div>
<div th:replace="element::bootstrap-icons"></div>

<script src="/static/js/client-page.js" th:src="@{/js/client-page.js}"></script>
</body>
</html>