<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--BOOTSTRAP LIBRARY -->
<th:block th:fragment="bootstrap-top">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</th:block>

<th:block th:fragment="bootstrap-icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</th:block>

<!--ANGULAR LIBRARY-->
<th:block th:fragment="angular-js">
    <script src="/static/lib/jquery-3.3.1.slim.min.js" th:src="@{/lib/jquery-3.3.1.slim.min.js}"></script>
    <script src="/static/lib/angular.min.js" th:src="@{/lib/angular.min.js}"></script>
    <script src="/static/lib/popper.min.js" th:src="@{/lib/popper.min.js}"></script>
    <script src="/static/lib/bootstrap.min.js" th:src="@{/lib/bootstrap.min.js}"></script>
    <script src="/static/lib/ui-bootstrap-tpls-3.0.6.min.js" th:src="@{/lib/ui-bootstrap-tpls-3.0.6.min.js}"></script>
    <script src="/static/lib/locale_ru.js" th:src="@{/lib/locale_ru.js}"></script>
</th:block>

</body>
</html>
